.container {
    display: grid;
    margin: 12px auto;
    width: 80%;
}

@media only screen and (min-width: 600px) {
    .container {
        width: 80%;
    }    
}

@media only screen and (min-width: 850px) {
    .container {
        width: 80%;
    }    
}

@media only screen and (min-width: 850px) {
    .container {
        width: 80%;
    }    
}