main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
}

.desktop {
    display: inline-block;
}

.wrapper {
    margin: 40px auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #f7f8fb;
}

#desktop_products {
    background-color: rgb(79, 81, 82);
}

#desktop_products h3 {
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
    padding: 10px;
    color: white;
}

.rating span {
    color: red;
}

.wrapper .card:hover {
    background-color: #c4c6ca;
    border-color: 1px solid darkgray;
}

.wrapper .card {
    width: 270px;
    overflow: hidden;
    /* border: 2px solid black; */
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    margin: 20px;
}

.wrapper .card .imgdesktop {
    width: 230px;

    margin: 20px auto;
}

.wrapper .card .imgdesktop img {
    padding-top: 0;
    height: 200px;
    margin: 0;
    width: 100%;
}

.card .imgdesktop img:hover {
    transform: scale(1.1);
}

.wrapper .card .content-desktop h3 {
    font-size: 18px;
    padding: 0;
}

.wrapper .card .imgdesktop img :hover {
    background-image: url("../images/apple_imac_24.jpg");
}

.top {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

/* .box{
    background: gray;
    border-radius: 10px;
} */

/* Category Section */
.section {
    /* padding: 10rem 0 5rem 0; */
    overflow: hidden;
    margin: 60px;
}

.cat-center {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 114rem;
    margin: auto;
    padding: 0 3rem;
}

.cat-center .cat {
    max-width: 37rem;
    height: 20rem;
    overflow: hidden;
    position: inherit;
    cursor: pointer;
    text-align: center;
}

.cat-center .cat:not(:last-child) {
    margin-right: 3rem;
}

.cat-center .cat img {
    width: 36.5rem;
    height: 100%;
    margin: auto;
    object-fit: cover;
    transition: all 2s ease;
}

.cat-center .cat:hover img {
    transform: scale(1.4);
}

.cat-center .cat div {
    position: relative;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 18rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    .cat-center .cat img {
        width: 30rem;
    }
}

@media only screen and (max-width: 967px) {
    .cat-center .cat {
        max-width: 25rem;
        height: 20rem;
    }

    .cat-center .cat img {
        width: 25rem;
    }
}

@media only screen and (max-width: 768px) {
    .section {
        padding: 5rem 0;
    }

    .cat-center {
        flex-direction: column;
        padding: 3rem;
    }

    .cat-center .cat {
        max-width: 100%;
        height: 30rem;
    }

    .cat-center .cat:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 5rem;
    }

    .cat-center .cat img {
        width: 100%;
    }
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    min-height: 80vh;
    padding-block: 10px;
    display: flex;
    align-items: center;
    background-image: url("/images/new_products/banner2.jpg");
}

.hero .container {
    width: 100%;
}

.hero-content {
    padding: 30px;
}

.hero-subtitle {
    color: black;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.hero-subtitle:hover {
    font-size: 70px;
    color: #e5e7eb;
}

.hero-title {
    margin-bottom: 35px;
    max-width: 12ch;
}

.hero-title:hover {
    color: aliceblue;
    font-size: 30px;
}

.container .btn-block {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: #333;
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5;
    display: inline-block;
    padding: 13px 32px;
    border-radius: 0px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-block:hover {
    background-color: #f7941d;
    border: #333;
}