
/*css for the body container*/
.wrapper {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*css for the image*/
.content1 {
    float: left;
    background-color: white;
}

.content1 img {
    display: flex;
    justify-content: flex-start;
    width: 800px;
    height: 550px;
    margin-left: 60px;
    margin-right: 70px;
    margin-top: 20px;
    border: 1px solid burlywood;
    border-radius: 10px;
    box-shadow: 4px 4px 1.5px burlywood;

}

/*css for the details of the laptop*/
.content2 {
    background-color: white;
}
.content2 header{
    background-color: white;
}

.content2 h1 {
    padding-top: 25px;
    margin-right: 32%;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 3px burlywood;
    background-color: white;
}

.content2 h1:hover {
    font-size: 42px;
    color: cornflowerblue;
    text-shadow: 2px 3px black;
}

.content2 h2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 3px burlywood;
}

.content2 h2:hover {
    font-size: 32px;
    color: cornflowerblue;
    text-shadow: 2px 3px black;
}
.content2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

.content2 p:hover {
    color: cornflowerblue;
    text-shadow: 1.5px 1px black;
}

.stars {
    font-size: 25px;
    text-align: left;
}

.checked {
    color: gold;
}
.list {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    color: black;
}

.list>li:hover {
    color: black;
    background-color: yellow;
    font-size: 23px;
}

/*css for the content presented in the tabular format.*/
.content3 {
    margin-left: 40px;
}

.content3 h2 {
    padding-top: 1.5px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    text-shadow: 2px 3px burlywood;
}

.content3 h2:hover {
    font-size: 32px;
    color: cornflowerblue;
    text-shadow: 2px 3px black;
}

.content3 thead {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 2px burlywood;
    color: black;
}

.content3 td:first-child {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding: 5px;
}

.content3 td:last-child {
    font-size: 18px;
    text-align: left;
    padding-top: 15px;
    padding: 5px;
}

.content3 tbody tr:nth-child(odd) {
    background-color: rgb(203, 199, 199);
}

.content3 tbody tr:nth-child(even) {
    background-color: rgb(230, 226, 226);
}

/*css for viewing the youtube video.*/
.video {
    clear: left;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 43px;
}

.video iframe {
    width: 833px;
    height: 433px;
}

/*css for creating the viewing effect for the laptop details page.*/
#lightbox {

    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease 0.4s;
}


#lightbox.show {
    visibility: visible;
    opacity: 1;
}


#lightbox img {
    width: 100%;
    height: auto;
}

#lightbox img {
    width: 70%;
    height: 80%;
    margin-left: 14.5%;

}