main{
  background-color: #d3e4f2;
  /* margin-bottom: 0; */
}
 /* Main content style */
 #main_content {
    padding: 7px;
    width: 1000px;
    margin: 20px;
    background: #ffffff;
    border-radius: 4px;
    margin-left: 122px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #main_content h1
   {
    margin-bottom: 5px;
    color: #17222B;
   }
  #main_content img
  {
    
    float: left; 
    display: flex;
    width: 284px;
    height: 184px;
    margin-right: 20px;
    }
  
  main > h1, p, .browser {
    margin: 10px;
    padding: 5px;
    }
  .browser > h2, p
     {
    margin: 4px;
    font-size: 90%;
    }
    .browser
    {
        background-color: rgb(229, 243, 254);
       
    }
  aside{
    float:right;
    margin-top: 20px;
    }
  #new_products
    {
        background-color: rgb(114, 154, 184);
    }
   #new_products h3{
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family:  'Fira Sans', sans-serif;
    font-size: 24px;
    padding: 10px;
   }

  #recent_posts h3{
    background: white;
    width: 1000px; 
    height: 60px;
    padding: 16px;
    float: left;
    border-radius: 4px;
    }
 
  #main_content button
  {
    background-color: #7d869a;
    color: white;
    border: 1px solid #352d2e;
    border-radius: 4px;
  }
  #main_content button :hover{
  color: black;
  }
  

  @media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 500px)
  {
    #new_products
    {
        margin: 10px;
        display: block;
        margin-top: 0;
        border-radius:4px;
        min-width: 40px;
    }
  
    #main_content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-basis: initial;
      flex-shrink: 1;
      margin: 0;
    }
    main{
      margin-left: 0;
    }
    .browser h1{
      clear: both;
    }
    .browser img{
      max-width: 100%;
      height: auto;
    }
 

  }
  @media screen and (min-width:768px)and (max-width: 1000px) {
    #main_content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-basis: initial;
      margin: 0;
    } 
  }